<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juego de Botones Epicos</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery-3.5.1.min.js"></script>
  <script src="/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script> 
  <style>
    .container{
      text-align: center;
    }
    h1{
      margin-top: 150px;
    }
    #reinicia{
      margin-left: 1030px;
      margin-top: 100px;
    }
    #actualizaBtn{
      border-radius: 150px;
      padding: 20px;
      animation: gradientBG 15s ease infinite;
      
    }
    #colores{
      margin-top: 50px;
      margin-right: 450px;
    }
    
    
  </style>
</head>
<body>
  <div class="container">
    <div class="numberdiv">
        <h1>El boton ha sido presionado <span id="numero">?</span> veces</h1>
        <p>Presiona el boton "Actualizar" para cambiar el numero de veces</p>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <button id="actualizaBtn" class="btn btn-primary" type="button">Actualizar</button>
    </div>

    <div id="colores" class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button id="green" class="colorBtn btn btn-outline-success" type="button">Verde</button>
      <button id="blue" class="colorBtn btn btn-outline-primary" type="button">Azul</button>
      <button id="pink" class="colorBtn btn btn-outline-danger" type="button">Rosado</button>
    </div>
    <div>
      <h5>Click aqui para cambiar color y que deje de funcionar todo :)</h5>
      <button id="" class="btn btn-outline-warning" type="button">Gradiente</button>
      <!--background-image: linear-gradient( 109.6deg,  rgba(255,174,0,1) 11.2%, rgba(255,0,0,1) 100.2% );-->
    </div>
    <button id="reinicia" class="btn btn-danger">Reiniciar</button>
  </div>  

  <script>
    $(document).ready(function() {
      let socket = io.connect();
      $('#actualizaBtn').on('click', function(){
          socket.emit('sumar');
      });
      $('#reinicia').on('click', function(){
          socket.emit('reiniciar');
      });
      socket.on('contador', function(sumar){
          $('#numero').html(`${sumar}`);
      });


      //desde aqui colores
      $('.colorBtn').click(function(){
        let color = $(this).attr('id')        
        socket.emit('changeColor', {color: color});
      });

      socket.on('color', function(data){
        $('body').css('background-color', data.color);
      });

    });

    
  </script>
</body>
</html>