<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h1{
      box-shadow: 1px 1px black;
      color: darkblue;
    }
    div{
      display: block;
    }
    label{
      display: inline-block;
      color: darkblue;
    }
    p{
      display: inline-block
    }
  </style>
</head>
<body>
  <h1>Submmitted Information</h1>
  <div>
    <label for="">Name:</label>
    <p><%=name%></p>
  </div>

  <div>
    <label for="">Dojo Location:</label>
    <p><%=location%></p>
  </div>

  <div>
    <label for="">Favorite Language:</label>
    <p><%= flen %></p>
  </div>

  <div>
    <label for="">Comments: </label>
    <p><%=comments%></p>
  </div>

</body>
</html>